@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #259199;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 32%;
  width: 100%;
  background-color: #00c3d1;
  height: 90px;
}
.menu-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 100px;
}

.menu-left h1 {
  color: #ffffff;
  position: relative;
  right: 275px;
  font-weight: bold;
  font-size: 20pt;
}

.lista {
  list-style: none;
  display: flex;
  position: relative;
  left: 350px;
}
.lista li {
  letter-spacing: 2px;
  margin-left: 32px;
  list-style: none;
  transition: color 0.6s;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.35));
}

.lista a:hover {
  color: #00fff2;
}

.lista a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18pt;
  transition: color 0.3s;
}

.logo {
  width: 200px;
  height: 110px;
  filter: brightness(100);
  position: relative;
  right: 300px;
  top: 5px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.35)) brightness(100);
}
.content_box {
  position: relative;
  width: 91%;
  height: 90vh;
  background: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  top: 10px;
}

.box {
  position: relative;
  width: 500px;
  height: 560px;
  margin: 8% 0% 0% 2%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box form {
  position: absolute;
  inset: 4px;
  background: #fff;
  padding: 50px 40px;
  border-radius: 24px;

  z-index: 2;
  display: flex;
  flex-direction: column;
}
.box form h2 {
  color: #000;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.box form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}
.box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #000;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}
.box form .links {
  display: flex;
  justify-content: space-between;
}
.box form .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #1b1b1b;
  text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2) {
  color: #a1a1a1;
}
.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #70f5ff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
}
.box form input[type="submit"]:active {
  opacity: 0.8;
}
.box form h6 {
  color: #fff;
  margin: 4px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3%;
  margin-top: 10%;
}
